pkgbase = python2-consonance-git
	pkgdesc = implements WhatsApp's handshake process which makes use of Noise Pipes from Noise Protocol
	pkgver = 0.1.3.r1.gbae4ce1
	pkgrel = 2
	url = https://github.com/tgalal/consonance
	arch = any
	license = GPL
	makedepends = python-setuptools
	depends = python2
	depends = python2-transitions
	depends = python2-protobuf
	depends = python2-axolotl-curve25519-git
	depends = python2-dissononce
	provides = python-consonance
	source = python2-consonance-git::git+https://github.com/tgalal/consonance
	sha512sums = SKIP

pkgname = python2-consonance-git

