pkgbase = python2-dissononce-git
	pkgdesc = python implementation for Noise Protocol Framework
	pkgver = 0.34.3.r1.g4fad01e
	pkgrel = 2
	url = https://github.com/tgalal/dissononce
	arch = any
	license = MIT
	makedepends = python2-setuptools
	depends = python2
	depends = python2-cryptography
	depends = python2-transitions
	provides = python2-dissononce
	source = python2-dissononce-git::git+https://github.com/tgalal/dissononce
	sha512sums = SKIP

pkgname = python2-dissononce-git

