pkgbase = python-transwhat-git
	pkgdesc = A gateway between the XMPP and the WhatsApp IM networks
	pkgver = v0.2.2.r54.gd022243
	pkgrel = 2
	epoch = 1
	url = https://github.com/stv0g/transwhat
	arch = any
	license = GPL
	makedepends = git
	makedepends = python-setuptools
	depends = python
	depends = python-protobuf
	depends = python-pillow
	depends = python-dateutil
	depends = python-yowsup>=3
	depends = spectrum2
	provides = python-transwhat
	provides = python-spectrum2
	conflicts = python-transwhat
	options = !strip
	options = !emptydirs
	source = git+https://github.com/stv0g/transwhat/
	source = https://files.pythonhosted.org/packages/d0/2b/e8d3f1a7baa3707ce0d1b67c6caae874c45f3515c830ed85d5464b758dfc/pyspectrum2-0.2.0.tar.gz
	md5sums = SKIP
	md5sums = 361997189f2a206776612e3238788363

pkgname = python-transwhat-git

