pkgbase = python2-yowsup
	pkgdesc = The open source cross platform Whatsapp library powering Wazapp
	pkgver = 3.2.3
	pkgrel = 1
	url = https://github.com/tgalal/yowsup
	arch = any
	license = GPL
	makedepends = python2-setuptools
	makedepends = python2-six
	depends = python2
	depends = python2-dateutil
	depends = python2-argparse
	depends = python2-axolotl-git
	depends = python2-pillow
	depends = python2-consonance-git
	depends = python2-dissononce-git
	conflicts = yowsup-client-git
	conflicts = python-yowsup
	conflicts = python-yowsup-git
	source = python2-yowsup-3.2.3.tag.gz::https://github.com/tgalal/yowsup/archive/v3.2.3.tar.gz
	sha512sums = a1be36df5dc632071385cf0e252a208efb8982df98966d2c5a7b7558c626112e1ac2688be25fb6de1db9e9e04d36ab96784e589aeb90fcc6c6770edac791e568

pkgname = python2-yowsup

