pkgbase = mautrix-signal-git
	pkgdesc = mautrix-signal puppeting/relaybot bridge
	pkgver = r96.3852c13
	pkgrel = 4
	url = https://github.com/tulir/mautrix-signal
	arch = any
	license = AGPLv3
	makedepends = git
	makedepends = python-pip
	depends = python-sqlalchemy
	depends = python-ruamel-yaml
	depends = python-magic-ahupp
	depends = python-commonmark
	depends = python-aiohttp
	depends = python-mautrix-git
	depends = python-cryptg
	depends = python-cchardet
	depends = python-aiodns
	depends = python-brotli
	depends = python-pillow
	depends = python-asyncpg>=0.21
	depends = python-olm
	depends = python-phonenumbers
	depends = python-pycryptodome
	depends = python-unpaddedbase64
	depends = python-matrix-nio
	depends = signald-git
	depends = python-qrcode
	source = mautrix-signal::git+https://github.com/tulir/mautrix-signal
	source = usr-share.patch
	source = README
	source = mautrix-signal-db-upgrade
	source = sysusers-mautrix-signal.conf
	source = tmpfiles-mautrix-signal.conf
	source = mautrix-signal.service
	sha256sums = SKIP
	sha256sums = f1216c42b151e7598384bb42843fb8544ba81bc87b7fcfc58d55479099eedcc9
	sha256sums = 797083657b11728c7e711182f6d161871fc2fcae02ee5e651d7082a5c34625bd
	sha256sums = 70c8c19728a22919233f6d31080bddf9507d0f25a17d17f56f3d6854647625fb
	sha256sums = 0b0abf5194d28fc00642fb46a478470d2f6c1f73c0d5d9b2ea8cc383e45e15b9
	sha256sums = 69ca6c567273282a7694d831c8a39678900792fcc27806d81de20903eaf16c0d
	sha256sums = cdfc114983ed330037d6b3ddfa3d45c51cdfa37f27675fb2caacfe970ef656a3

pkgname = mautrix-signal-git

